* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
body {
  background-color: #1b1b25;
  margin: 0;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
.hero {
  background: linear-gradient(0deg, #1b1b25 0.01%, rgba(0, 0, 0, 0) 95.44%);
}
.container {
  /* border: 1px solid red; */
  margin: 0 auto;
  max-width: 945px;
  width: 90%;
}
.hero-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 127px;
}
.hero-header__list {
  list-style-type: none;
  display: flex;
}
.hero-header__list li + li {
  margin-left: 20px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px 0 155px;
}
.hero-content__info {
  max-width: 420px;
}
.hero-content__subtitle {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #ffbb01;
  margin-bottom: 14px;
}
.hero-content__title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 59px;
  color: #ffffff;
  margin-bottom: 20px;
}
.hero-content__description {
  margin-bottom: 38px;
}
.button {
  background: linear-gradient(180deg, #fdde76 0%, #ffbb01 100%);
  box-shadow: 0px 4px 0px #b68500;
  border: none;
  border-radius: 5px 5px 10px 10px;
  padding: 24px 42px;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
}
.hero-content__avatar {
  width: 369px;
  height: 369px;
  background-color: #fff;
  border-radius: 50%;
  background-image: url(../images/avatar.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border: 13px solid #fff;
}
/* ***********fearches***************** */
.fearches {
  /* background-color: #000; */
  padding: 64px 0 92px;
}
.section-title {
  margin-bottom: 84px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
}
.fearches-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.fearches-item {
  flex-basis: 30%;
  margin-bottom: 63px;
}
.fearches-imege {
  display: block;
  margin-bottom: 22px;
}
.fearches-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 16px;
}
.fearches-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
/* **************projects***************** */
.projects {
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 95.44%);
  padding: 64px 0 108px;
}
.projects_title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  color: #ffffff;
  margin-bottom: 76px;
}
.projects_slider {
}
.project_slide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.project_img {
}
.project_text {
  flex-basis: 60%;
  display: flex;
  flex-wrap: wrap;
}
.project_title {
  flex-basis: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 42px;
  color: #ffffff;
}

.project_icon {
  margin-right: 16px;
}
.project_description {
}
.project_subtitle {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 7px;
}
.project_paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #ffffff;
}
.project_paragraph:last-child {
  max-width: 527px;
}
.project_time,
.project_cost,
.project_feedback {
  display: flex;
  align-items: flex-start;
}
.project_time,
.project_cost {
  flex-basis: 50%;
  margin-bottom: 43px;
}
.project_feedback {
}
.projects-bullet {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 2px solid #ffbb01;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
}
.projects-bullet-active {
  background-color: #ffbb01;
}
.projects-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 44px;
}
/* *************footer**************** */
.footer {
  padding: 57px 0 148px;
}
.section-title {
}
.contacts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contacts-form {
  max-width: 380px;
  max-height: 409px;
  background: #ffffff;
  box-shadow: -5px 5px 0px #ffc41d;
  border-radius: 5px;
  padding: 40px 47px 49px;
}
.form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  margin-bottom: 29px;
}
.input {
  border: none;
  width: 100%;
  background: #f8f8f8;
  box-shadow: inset 0px 3px 10px rgba(199, 199, 199, 0.25);
  border-radius: 5px;
  padding: 18px 20px 18px 50px;
}
.input-name {
  margin-bottom: 17px;
  background-image: url(/images/user-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
}
.input-phone {
  background-image: url(/images/phone-icon.svg);
  background-repeat: no-repeat;
  background-position: center left 20px;
  margin-bottom: 26px;
}
.footer-button {
  max-width: 100%;
}
.contacts-text {
  flex-basis: 50%;
}
.contacts-data {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 42px;
}
.contacts-phone,
.contacts-mail {
  flex-basis: 50%;
  margin-bottom: 53px;
}
.contacts-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 15px;
}
.contacts-social {
  flex-basis: 100%;
}
.contacts-link {
  text-decoration: none;
  color: inherit;
}
.contacts-link:hover {
  text-decoration: underline;
}
.contacts-wrap {
  display: flex;
  justify-content: space-between;
}
.contacts-policy {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #a5a5a5;
  display: inline;
}
/*  адаптив*/
@media (max-width: 1100px) {
  .hero-content__avatar {
    width: 300px;
    height: 300px;
    border-width: 10px;
  }
}

@media (max-width: 836px) {
  .hero-content {
    flex-direction: column;
  }
  .hero-content__avatar {
    order: 0;
    width: 300px;
    height: 300px;
    border-width: 10px;
    margin-bottom: 20px;
  }
  .hero-content__info {
    order: 1;
    text-align: center;
  }
  .fearches-item {
    flex-basis: 45%;
  }
  .project_slide {
    flex-direction: column;
  }
  .project_text {
    margin-top: 46px;
  }
  .contacts-block {
    display: flex;
    flex-direction: column;
  }
  .contacts-form {
    margin-bottom: 58px;
  }
}
@media (max-width: 564px) {
  .hero-content {
    padding-bottom: 75px;
  }
  .hero-content__subtitle {
    font-size: 16px;
    line-height: 27px;
  }
  .hero-content__avatar {
    width: 113px;
    height: 113px;
    border-width: 4px;
    background-size: cover;
    background-position: center top -5px;
  }
  .hero-content {
    padding-top: 38px;
  }
  .hero-header__list li + li {
    margin-left: 5px;
  }
  .hero-content__title {
    font-size: 24px;
    line-height: 28px;
  }
  .hero-content__subtitle {
    font-size: 16px;
    line-height: 27px;
  }
  .hero-content__description {
    font-size: 14px;
    line-height: 140%;
  }
  .fearches-item {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .fearches-title {
    font-size: 18px;
    line-height: 28px;
  }
  .fearches-text {
    font-size: 14px;
    line-height: 28px;
  }
  .section-title,
  .projects_title {
    font-size: 19px;
    line-height: 22px;
  }
  .project_title {
    font-size: 18px;
    line-height: 150%;
  }
  section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .project_time,
  .project_cost,
  .project_feedback {
    flex-basis: 100%;
    margin-bottom: 30px;
  }
  .project_paragraph {
    font-size: 14px;
    line-height: 150%;
  }
  .contacts-form {
    padding: 39px 18px 47px;
  }
  .fearches-title {
    font-size: 15px;
    line-height: 140%;
  }
  .footer-button {
    font-size: 10px;
    line-height: 28px;
    width: 100%;
  }
  .contacts-phone,
  .contacts-mail {
    flex-basis: 100%;
    margin-bottom: 35px;
  }
  .contacts-wrap {
    display: flex;
    flex-direction: column;
  }
  .contacts-link {
    margin-bottom: 13px;
  }
  .contacts-title {
    font-size: 18px;
    line-height: 21px;
  }
  .contacts-link {
    font-size: 14px;
    line-height: 16px;
  }
}
